<!DOCTYPE html>
<html> <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=%encoding%">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Memory Dump - %title%</title>
  <link rel="Stylesheet" type="text/css" href="%root_path%static/bootstrap.min.css">
  <link rel="Stylesheet" type="text/css" href="%root_path%%css%">
</head>
<body>
  <div class="site-header">
    <div class="container">
      <a class="site-caption" href="/" title="Memory Dump">Memory Dump</a>
    </div>
  </div>

  <div class="main-content">
    <div class="container">
      %content%
    </div>
  </div>

  <div class="site-footer">
    <div class="container">
        &copy; memory dump 2017
    </div>
  </div>
</body>
</html>
